body {
    text-align: center;
    font-family: Arial;
    margin: 40px;
    font-size: 22px;
}

h2{
  font-style: italic;
}
 
li {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    cursor: grab;
    width: 300px;
}
 
.completed {
    text-decoration: line-through;
    color: gray;
}
 
small {
    display: block;
    color: #666;
}
 
button {
    margin-left: 5px;
}
.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-content: center;
}
 
.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
 